@charset "ISO-8859-1";

.pagina {
  border: 50px solid #7c7; 
  background-color: #efe;     
  color: #050;                
  text-align : center;
}

h1 {
	front-size: 3rem;
	color: 050;
}

form {
  border: 5px solid #7c7; 
  background-color: #efe;     
  color: #050;                
  text-align : center;
}

table {
  border: 1px solid #7c7; 
  background-color: #efe;     
  color: #050;                
	margin: auto;
}