@charset "ISO-8859-1";

html {
  border: 50px solid #0000FF; 
  background-color: #87CEFA;     
  color: #000080;                
  text-align : center;
}

h1 {
	front-size: 3rem;
	color: 050;
}

form {
  background-color: #87CEFA;     
  color: #000080;                
  text-align : center;
}

table {
  border: 15px solid #0000FF; 
  background-color: #87CEFA;     
  color: #000080;                
	margin: auto;
}
